<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chucknorris Jokes</title>
</head>
<body>

    <h2 th:text="${joke}">Joke</h2>

</body>
</html>